$centerwh:950px;
$center:0 auto;
body{
	background:#f2f2f2;
}
.center{
	width:$centerwh;
    margin: $center;
    .content{
    	background:#fff;
    	box-shadow: 4px -2px 10px #ddd;
    	margin:20px 0;
	    border:1px solid #ddd;
	    border-radius: 10px;
    }
}
.weizhi{
	height: 39px;
    line-height: 39px;
    padding: 10px 0 0 25px;
    color: #878787;
    font-size: 14px;
    b{
    	font-weight: 900;
    }
    a{
    	color: #71a8cf;
    	padding: 0 5px;
    }
}
.buzhou{
	background: url(../images/circuit3.gif) no-repeat bottom;
    height: 65px;
    width: 888px;
    margin: auto
}
.carstatus{
	font-size:12px;
	line-height: 30px;
	color: #666;
	padding: 30px 30px 0 35px;
	p{
		float:left;
	}
	.zj{
		float:right;
		#zj{
			font-size: 16px;
			font-weight: bold;
			color: #F00;
		}
	}
	button{
		background: url(../images/70an.gif) no-repeat 0 -30px;
	    width: 70px;
	    height: 30px;
	    float: left;
	    line-height: 30px;
	    color: #fff;
	    text-decoration: none;
	    margin-left: 10px;
	    border: none;
	    cursor: pointer;
	}
	button:hover{
		background-position: 0 0;
	}
}
.tiaoxuan{
	background: #b7b7b7 url(../images/bt2.gif) no-repeat top;
    height: 34px;
    width: 888px;
    margin: 10px 0 0 35px;
    font-size: 14px;
    color: #FFF;
    line-height: 34px;
    li{
    	float: left;
    }
    .l1{
    	 margin: 3px 14px 3px 14px;
    }
    .l2{
		width: 375px;
    }
    .l3{
		width:90px;
    }
    .l4{
		width:100px;
    }
    .l5{
		width:110px;
    }
    .l6{
		width:105px;
		a{
			float: right;
		    height: 16px;
		    width: 16px;
		    background: url(../images/wen2.gif) no-repeat;
		    margin: 8px 30px 0 0;

		}
    }
    .l7{
    	width:40px;
    }
}
table {
	vertical-align: middle;
	width: 888px;
	margin-top: 12px;
	border-collapse: collapse;
	margin: 30px 30px 0 35px;
	text-align: center;
	tr{
		color: #999;
		font-size:12px;
	}
	.firsttr{
		td{
			padding :0 5px;
			border: #ddd solid 1px;
			background: #f5f5f5;
			height:88px;
			vertical-align: middle;
			padding-left: 5px;
		} 
		
		span{
			margin-right: 10px;
		}
		input{
			margin-top: 8px;
		}
		.secondtd{
			width:350px;
			text-align: left;
			img{
				height: 40px;
				width: 40px;
				float:left;
				border: 1px solid #DDDDDD;
				padding: 1px;
				margin-top: 10px;
			}
			a{
				font-size: 14px;
				color: #599ED5;
				cursor: pointer;
				text-decoration: underline;
			}
			a:hover{
				text-decoration: none;
				color:#f00;
			}	
			p{
				width:280px;
				line-height: 28px;
				float: left;
				margin-left: 20px;
			}
		}
		.thirdtd{
			width: 100px;
			color: #f90;
			font-weight: 900;
		}
		.jiajian{
			width:100px;
			a{
				cursor: pointer;
				float: left;
				height: 11px;
				width: 11px;
				margin: 15px 5px 0 5px;
				overflow: hidden
			}
			.jian{
				background: url(../images/jiajian.gif) no-repeat;
			}
			.jian:hover{
				background-position: left -12px;
			}
			.jia{
				background: url(../images/jiajian.gif) no-repeat -12px 0;
			}
			.jia:hover{
				background-position: right -12px;
			}
			input{
				border: #BADBEA solid 1px;
				padding: 3px;
				width: 40px;
				font-size: 18px;
				font-weight: bold;
				float: left;
			}
		}
		.fortd{
			color: #FF0000;
			font-size: 18px;
		}
		.fivetd{
			padding-left: 10px;
			font-size: 14px;
			color:#000;
		}
		.sixtd{
			width:90px;
			position: relative;
			a{
				color:#ff9900;
				text-decoration: underline;
			}
			a:hover{
				color:#f60;
				text-decoration: none;
			}

		}
	}

}
.jisuan{
	padding: 10px 30px 0 35px;
    font-size: 12px;
    margin: 10px 0 60px 0;
    width:888px;
    .yunfei{
    	border: 1px solid #ddd;
    	a{
    		float: left;
    		padding-left: 20px;
    		@extend %a;
    	}
    	a:hover{
    		color: #f00;
    		text-decoration: none;
    	}
    }
    %a{
    	height: 30px;
	    line-height: 30px;
	    color: #71a8cf;
	    text-decoration: underline;
    }
   
    p{
    	float: left;
    	height: 30px;
    	line-height: 30px;
		margin-left: 1px;
    	span{
    		font-weight: bold;
   			color: #F00;
    	}
    }
    .all{
    	border: 1px solid #ddd;
    	padding: 10px 0;
    	background: #f5f5f5;
    	a{
    		@extend %a;
    		margin-left: 10px;
    	}
    	ul{
    		float:left
    	}
    	li{
    		float:left;
    		span{
    			margin:0 5px;
    		}
    	}
    	.del a{
    		color:#333;
    	}
    	p {
    		float: left;
    		height: 25px;
    		line-height: 25px;
    		font-size: 16px;
    		font-weight: bold;
    		padding-top: 5px
    	}
    	input{
    		float: right;
    		background: url(../images/anniu_5.gif) no-repeat 0 0;
		    width: 139px;
		    color: #FFF;
		    font-size: 14px;
		    cursor: pointer;
		    height: 35px;
		    margin-left: 30px;
		    line-height: 35px;
    	}
    	input:hover{
    		background-position: 0 -36px;
    	}
    }
}

.footer{
	a{
		color:#999;
	}
	p{
		padding: 10px 0 20px  0;
	}
	text-align: center;
	color:#999;
	font-size: 12px;
}
	