.login-form {
    max-width: 600px;
    border: 1px groove white;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
.bg{
    background-image: url(../../static/img/bg.jpg);
    width: 100%;
    height: 100%;
    padding-top: 15%;
}
